* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main{
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content:center;
}

.content-box{
  width: 300px;
  background-color: #EEEEEE;

  margin-left: 15px;
  margin-right:15px;
  padding: 10px;
  position: relative;
}  

.tag{
  background-color: #FF9A4B;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.content-image{
  height: 150px;
  width: 280px;
  margin:auto;
  display: block;
  background-position: bottom;
  background-size: cover;
  
}



.title{
  padding-bottom: 5px;
  padding-top: 15px;
}


footer{
  width:100%;
  height:50px;
  background-color: #AAAAAA;
}



@media screen and (max-width:768px){

  main{
    width: 100%;
    display: block;
  }
  .content-box{
    width: 90%;
    margin:0 auto;
    margin-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
  }
  footer{
    margin-top: 50px;
  }
  

  
  
}


    
    
    
    
    
